In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [ ]:
headers = ["symboling", "normalized_losses", "make", "fuel_type", "aspiration",
           "num_doors", "body_style", "drive_wheels", "engine_location",
           "wheel_base", "length", "width", "height", "curb_weight",
           "engine_type", "num_cylinders", "engine_size", "fuel_system",
           "bore", "stroke", "compression_ratio", "horsepower", "peak_rpm",
           "city_mpg", "highway_mpg", "price"]
df = pd.read_csv("https://github.com/dm-fedorov/pandas_basic/blob/master/%D0%B1%D1%8B%D1%81%D1%82%D1%80%D0%BE%D0%B5%20%D0%B2%D0%B2%D0%B5%D0%B4%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%B2%20pandas/data/imports-85.data?raw=True",
                  header=None, names=headers, na_values="?" )
df.head()

   symboling  normalized_losses         make  ... city_mpg highway_mpg    price
0          3                NaN  alfa-romero  ...       21          27  13495.0
1          3                NaN  alfa-romero  ...       21          27  16500.0
2          1                NaN  alfa-romero  ...       19          26  16500.0
3          2              164.0         audi  ...       24          30  13950.0
4          2              164.0         audi  ...       18          22  17450.0

[5 rows x 26 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized_losses  164 non-null    float64
 2   make               205 non-null    object
 3   fuel_type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num_doors          203 non-null    object
 6   body_style         205 non-null    object
 7   drive_wheels       205 non-null    object
 8   engine_location    205 non-null    object
 9   wheel_base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb_weight        205 non-null    int64
 14  engine_type        205 non-null    object
 15  num_cylinders      205 non-null    object
 16  engine_size        205 non-null    int64
 17  fuel_system        205 non-null    object
 18  bore               201 non-null    float64
 19  stroke             201 non-null    float64
 20  compression_ratio  205 non-null    float64
 21  horsepower         203 non-null    float64
 22  peak_rpm           203 non-null    float64
 23  city_mpg           205 non-null    int64
 24  highway_mpg        205 non-null    int64
 25  price              201 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.8+ KB

In [ ]:
#df[df['normalized_losses'].isna()].sum()

41

In [ ]:
df.isna().sum()

symboling            0
normalized_losses    0
make                 0
fuel_type            0
aspiration           0
num_doors            0
body_style           0
drive_wheels         0
engine_location      0
wheel_base           0
length               0
width                0
height               0
curb_weight          0
engine_type          0
num_cylinders        0
engine_size          0
fuel_system          0
bore                 4
stroke               0
compression_ratio    0
horsepower           2
peak_rpm             2
city_mpg             0
highway_mpg          0
price                4
dtype: int64

In [ ]:
median = df["normalized_losses"].median()
df["normalized_losses"].fillna(median, inplace=True) # option 3
df

     symboling  normalized_losses         make  ... city_mpg highway_mpg    price
0            3              115.0  alfa-romero  ...       21          27  13495.0
1            3              115.0  alfa-romero  ...       21          27  16500.0
2            1              115.0  alfa-romero  ...       19          26  16500.0
3            2              164.0         audi  ...       24          30  13950.0
4            2              164.0         audi  ...       18          22  17450.0
..         ...                ...          ...  ...      ...         ...      ...
200         -1               95.0        volvo  ...       23          28  16845.0
201         -1               95.0        volvo  ...       19          25  19045.0
202         -1               95.0        volvo  ...       18          23  21485.0
203         -1               95.0        volvo  ...       26          27  22470.0
204         -1               95.0        volvo  ...       19          25  22625.0

[205 rows x 26 columns]

In [ ]:
df.dropna(subset=['num_doors'])

     symboling  normalized_losses         make  ... city_mpg highway_mpg    price
0            3              115.0  alfa-romero  ...       21          27  13495.0
1            3              115.0  alfa-romero  ...       21          27  16500.0
2            1              115.0  alfa-romero  ...       19          26  16500.0
3            2              164.0         audi  ...       24          30  13950.0
4            2              164.0         audi  ...       18          22  17450.0
..         ...                ...          ...  ...      ...         ...      ...
200         -1               95.0        volvo  ...       23          28  16845.0
201         -1               95.0        volvo  ...       19          25  19045.0
202         -1               95.0        volvo  ...       18          23  21485.0
203         -1               95.0        volvo  ...       26          27  22470.0
204         -1               95.0        volvo  ...       19          25  22625.0

[203 rows x 26 columns]

In [ ]:
df['num_doors'] = df['num_doors'].fillna("four")

In [ ]:
df['num_doors'].describe()

count      203
unique       2
top       four
freq       114
Name: num_doors, dtype: object

In [ ]:
df['bore'].describe()

count    201.000000
mean       3.329751
std        0.273539
min        2.540000
25%        3.150000
50%        3.310000
75%        3.590000
max        3.940000
Name: bore, dtype: float64

In [ ]:
df['stroke'] = df['stroke'].fillna(0)
df['bore'] = df['bore'].fillna(0)
df['horsepower'] = df['horsepower'].fillna(0)
df['peak_rpm'] = df['peak_rpm'].fillna(0)
df['price'] = df['price'].fillna(0)

In [ ]:
df['stroke'].describe()

count    201.000000
mean       3.255423
std        0.316717
min        2.070000
25%        3.110000
50%        3.290000
75%        3.410000
max        4.170000
Name: stroke, dtype: float64

In [ ]:
df2 = df.copy()

In [ ]:
Haa = ['make','fuel_type','aspiration','num_doors','body_style','drive_wheels','engine_location','engine_type','num_cylinders','fuel_system']
Haa = pd.get_dummies(Haa)
Haa.head(10)

   aspiration  body_style  drive_wheels  ...  make  num_cylinders  num_doors
0           0           0             0  ...     1              0          0
1           0           0             0  ...     0              0          0
2           1           0             0  ...     0              0          0
3           0           0             0  ...     0              0          1
4           0           1             0  ...     0              0          0
5           0           0             1  ...     0              0          0
6           0           0             0  ...     0              0          0
7           0           0             0  ...     0              0          0
8           0           0             0  ...     0              1          0
9           0           0             0  ...     0              0          0

[10 rows x 10 columns]

In [ ]:
df3 = df.copy()

In [ ]:
df3['Fact'] = pd.factorize(df['aspiration'])[0]
df3.head()

   symboling  normalized_losses         make  ... highway_mpg    price Fact
0          3              115.0  alfa-romero  ...          27  13495.0    0
1          3              115.0  alfa-romero  ...          27  16500.0    0
2          1              115.0  alfa-romero  ...          26  16500.0    0
3          2              164.0         audi  ...          30  13950.0    0
4          2              164.0         audi  ...          22  17450.0    0

[5 rows x 27 columns]

In [ ]:
df4 = df.copy()
le = LabelEncoder()
df4['Lab'] = le.fit_transform(df['fuel_type'])
df4.head()

   symboling  normalized_losses         make  ... highway_mpg    price Lab
0          3              115.0  alfa-romero  ...          27  13495.0   1
1          3              115.0  alfa-romero  ...          27  16500.0   1
2          1              115.0  alfa-romero  ...          26  16500.0   1
3          2              164.0         audi  ...          30  13950.0   1
4          2              164.0         audi  ...          22  17450.0   1

[5 rows x 27 columns]

In [ ]:
df5 = df.copy()
enc = OneHotEncoder()
train=enc.fit_transform(df)
df6 = pd.DataFrame(train.toarray())
df6.head()

   0    1    2    3    4    5    6    ...  984  985  986  987  988  989  990
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  1.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  1.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  1.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  1.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 991 columns]

In [ ]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized_losses  164 non-null    float64
 2   make               205 non-null    object
 3   fuel_type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num_doors          203 non-null    object
 6   body_style         205 non-null    object
 7   drive_wheels       205 non-null    object
 8   engine_location    205 non-null    object
 9   wheel_base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb_weight        205 non-null    int64
 14  engine_type        205 non-null    object
 15  num_cylinders      205 non-null    object
 16  engine_size        205 non-null    int64
 17  fuel_system        205 non-null    object
 18  bore               201 non-null    float64
 19  stroke             201 non-null    float64
 20  compression_ratio  205 non-null    float64
 21  horsepower         203 non-null    float64
 22  peak_rpm           203 non-null    float64
 23  city_mpg           205 non-null    int64
 24  highway_mpg        205 non-null    int64
 25  price              201 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.8+ KB

In [ ]:
df7 = df.copy()